.calibration {
    width: 100vw;
    position: relative;
    background-color: #f8f6f7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    text-align: left;
    font-size: 32px;
    color: #f04299;
    font-family: Pretendard;
    padding-top: 74px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
/* Header 스타일은 Components/Header.tsx에서 처리 */
.title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 1;
    text-align: center;
    font-size: 35px;
    color: #000;
}
.watchTheCamera {
    position: relative;
    font-weight: 500;
}
.pleasePronouceThese {
    position: relative;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
}
.container {
    width: 100%;
    background-color: #f8f6f7;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    min-width: 1100px;
    max-width: 1200px;
    z-index: 2;
    font-size: 128px;
}
.rectangleParent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 82px;
    min-width: 520px;
    max-width: 592px;
}
.instanceChild {
    width: 563px;
    position: relative;
    background-color: #d9d9d9;
    height: 357px;
}
.micIcon {
    width: 50px;
    position: relative;
    max-height: 100%;
}
.frameParent {
    flex: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
    min-width: 480px;
}
.wordParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 42px;
    gap: 70px;
}
.word {
    display: flex;
    align-items: center;
    padding: 0px 0px 4px;
    gap: 38px;
}
.frameIcon {
    width: 60px;
    position: relative;
    max-height: 100%;
}
.div {
    position: relative;
    letter-spacing: 0.3em;
    font-weight: 600;
}
.brandAwarenessParent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    text-align: center;
    font-size: 48px;
    color: #000;
}
.brandAwarenessIcon {
    width: 65px;
    position: relative;
    max-height: 100%;
}
.frameGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 48px;
    text-align: right;
    font-size: 16px;
    color: #000;
}
.frameChild {
    width: 424px;
    border-radius: 30px;
    height: 19px;
    z-index: 0;
}
.calibrationDiv {
    width: 100px;
    position: absolute;
    margin: 0 !important;
    top: 28px;
    right: 0px;
    display: inline-block;
    height: 23px;
    flex-shrink: 0;
    z-index: 1;
}
/* Footer 스타일은 Components/Footer.tsx에서 처리 */

